
    @font-face{
        font-family:"Helvetica Neue LT W01_77 Bd Cn";
        src:url("Fonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot?#iefix");
        src:url("Fonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot?#iefix") format("eot"),url("Fonts/5f4620bc-98f7-4b13-9f90-3a54ea6a9c55.woff2") format("woff2"),url("Fonts/ac30e84e-cb19-4576-b6f9-491fccbd42ff.woff") format("woff"),url("Fonts/b583b782-0709-4a13-899f-7e9ab1a7eccd.ttf") format("truetype"),url("Fonts/d5dd03f5-3afb-46e9-aad0-234de8607afa.svg#d5dd03f5-3afb-46e9-aad0-234de8607afa") format("svg");
    }
